<mat-toolbar>
  <mat-toolbar-row>
    <button mat-button (click)="opened=!opened">
      <mat-icon style="align-items:center ;">menu</mat-icon>
    </button>
  </mat-toolbar-row>
  <div class="heading">
    <h1>UNEEKLI</h1>
  </div>
  <div class="refresh">
    <i class="fa fa-refresh" aria-hidden="true" style="float: right; "></i>

  </div>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="over">
    <div class="profile">
      <img src="assets/default.png">
      <h3>Hello, Surya</h3>
    </div>
    <hr style="margin-top: 5px;color:black;">
    <ul>
      <li><a href="#"><span class="icon"><i class="fa fa-sticky-note"></i></span>
          <span class=" item">Customize View</span></a></li>
      <li><a href="#"><span class="icon"><i class="fa fa-filter"></i></span><span class="item">Filter
            Results</span></a></li>
      <li><a href="#"><span class="icon"><i class="fa fa-download"></i></span><span class="item">Download
            CSV</span></a></li>
      <li><a href="#"><span class="icon"><i class="fa fa-key"></i></span><span class="item">Keyword
            Cloud</span></a></li>
      <li><a href="#"><span class="icon"><i class="fa fa-line-chart"></i></span><span class="item">Search
            Trends</span></a></li>
      <li><a href="#"><span class="icon"><i class="fa fa-file-image-o"></i></span><span class="item">Download
            Screenshot</span></a></li>
    </ul>

    <div class="bottom-content">
      <hr style="margin-top: 20px;color:black;">
      <ul>
        <li><a href="#"><span class="icon"><i class="fa fa-question-circle-o"></i></span><span
              class="item">Help</span></a>
        </li>
        <li><a href="#"><span class="icon"><i class="fa fa-cogs"></i></span><span class="item">Account
              Settings</span></a></li>
        <li><a href="#"><span class="icon"><i class="fa fa-sign-out"></i></span><span class="item">Log
              Out</span></a></li>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <section class="facilities">
      <h1 style="font-size:50px ; font-weight:500">There's is nothing to Display </h1>
      <p style="font-size: 18px ;">The Chrome Extension can only display data for specific Amazon pages.
        Why not <br>Perform a search on one of the
        pages listed below.</p>
      <div class="row">
        <div class="facilities-col">
          <img src="assets/img1.png">
          <h3>1.Amazon Search Results</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum maiores cupiditate deserunt tempora
            consequuntur. Repudiandae dolor placeat velit exercitationem, commodi minus hic perspiciatis fugiat
            doloribus incidunt, quos molestias corrupti expedita.</p>
        </div>
        <div class="facilities-col">
          <img src="assets/img2.png">
          <h3>2.Amazon Product listings</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, pariatur? Quod obcaecati voluptatibus
            odit tempore optio necessitatibus, error quibusdam sequi maiores illo ab quae, totam asperiores aut nostrum
            magnam. Quidem.</p>
        </div>
        <h1>The Crome extension will also collect data from Amazon's Wish lists, seller, sellerstore front and buying
          guide</h1>


      </div>
    </section>

  </mat-sidenav-content>
</mat-sidenav-container>