mat-sidenav-container {
    height: 100%;
}




.mat-sidenav {
    width: 420px;
    background-color: white;
    padding: 16px;
}






.mat-sidenav-container .profile {

    align-items: center;
    display: flex;
}

.mat-sidenav-container .profile img {

    position: absolute;
    width: 40px;
    height: 40px;
    left: 32px;
    top: 25px;

}

.mat-sidenav-container .profile h3 {
    color: black;
    position: absolute;
    width: 187px;
    height: 36px;
    left: 77px;
    top: 28px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;


}

.mat-sidenav-container ul li a {
    display: block;
    padding: 3px 30px;
    color: black;
}

.mat-sidenav-container .bottom-content {
    position: absolute;
    bottom: 0;

}

.mat-sidenav-container .bottom-content ul li a {
    display: block;

    color: black;
}

.mat-sidenav-container ul li i {
    margin-right: 16px;
}

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.facilities-col {
    flex-basis: 50%;
    border-radius: 30px;
    margin-bottom: 100px;
    position: relative;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
    font-size: 25px;
}